* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #F5F8FF;
}

/* base.html */
.nav-color {
    background-color: #1f276f;
    color: #f5f8ff;
}

.nav-input {
    border-radius: 50px;
}

.profile-button {
    border-radius: 50px;
    background-image: url("/static/images/default_picture.png") no-repeat;
}

.profile-button-image {
    width: 40px;
    height: 20px;
}

.nav a {
    /* padding: 10px; */
    text-decoration: none;
    color: #f5f8ff;
    border-radius: 30px;
}

.nav a:hover {
    /* border-radius: 30px; */
    text-decoration: none;
    color: #f5f8ff;
    background-color: #5549FD;
}

.sidebar {
    background-color: #1f276f;
    /* position: fixed; */
}

.hamburger-nav {
    text-decoration: none;
    color: #f5f8ff;
    border-radius: 30px;
}

.hamburger-nav a {
    color: #f5f8ff;
    border-radius: 30px;
}

.hamburger-nav a:hover {
    text-decoration: none;
    color: #f5f8ff;
    background-color: #5549FD;
}





.login-title {
    font-size: 24px;
}

.login-button {
    width: 220px;
}

.reset-text {
    font-size: 14px;
}

.main-card {
    width: 25rem;
}

.nav-text {
    color: black;
    padding-top: 25px;
    font-size: 18px;
}




/* Profile page */
.profile_picture {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}

.profile_picture img {
    width: 100%;
    height: auto;
}

.update-profile-picture {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.update-banner {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.update-profile-picture,
.update-banner img {
    width: 100%;
    height: auto;
}

.banner {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.banner img {
    width: auto;
    height: 100%;
}

.edit-profile-btn {
    border-radius: 30px;
    background-color: #887ffe;
    color: white;
    width: 100%;
    height: 45px;
}

.edit-profile-btn:hover {
    color: white;
    background-color: #5549FD;
}

.post-thumbnail {
    position: relative;
    width: auto;
    height: 300px;
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
}

.post-thumbnail-btn {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.post-dp {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.comment-border {
    border-bottom: 1px solid black;
}

.unfriend-btn {
    border-radius: 30px;
    background-color: #de2c2c;
    color: white;
    width: 100%;
    height: 45px;
}

.unfriend-btn:hover {
    color: white;
    background-color: #b01c1c;
}




/* home page */
.main-post {
    width: auto;
    height: 450px;
    overflow: hidden;
    margin-bottom: 16px;
}

.main-post img {
    width: 100%;
    height: 100%;
}

.create-post-btn {
    border-radius: 30px;
    background-color: #887ffe;
    color: white;
    width: 250px;
    height: 45px;
}

.create-post-btn:hover {
    color: white;
    background-color: #5549FD;
}



/* Friends */
.accept-btn {
    border-radius: 30px;
    background-color: #887ffe;
    color: white;
    width: 100%;
    height: 45px;
}

.accept-btn:hover {
    color: white;
    background-color: #5549FD;
}

.decline-btn {
    border-radius: 30px;
    background-color: #d53737;
    color: white;
    width: 100%;
    height: 45px;
}

.decline-btn:hover {
    color: white;
    background-color: #b51717;
}